In [76]:
import pandas as pd

In [77]:
data = "Resources/purchase_data.csv"
raw_data = pd.read_csv(data)
data_file_df = raw_data
data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [78]:
player_count = [{"Total Players": data_file_df["SN"].nunique()}]
total_players = data_file_df["SN"].nunique()
player_count_df = pd.DataFrame(player_count)
totalNumPlayers = player_count_df
player_count_df

   Total Players
0            576

In [79]:
item_number = data_file_df["Item ID"].nunique()
avg_price = data_file_df["Price"].mean()
purchase_quant = data_file_df["Purchase ID"].nunique()
total_rev = data_file_df["Price"].sum()
purchasing_analysis = [{"Number of Unique Items": item_number, "Average Price": avg_price, "Number of Purchases": purchase_quant, "Total Revenue": total_rev}]
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [80]:
# Gender Demographic
gender_df = raw_data[["SN", "Gender"]]
gender_df = gender_df.drop_duplicates(["SN"])
gender_df = gender_df.groupby(["Gender"], as_index=False).agg({"SN": "count"})
gender_df = gender_df.sort_values("SN", ascending=False).reset_index(drop=True)
player_perc = gender_df["SN"] / total_players * 100
gender_df["Percentage of Players"] = player_perc
sorted_gender_df = gender_df.set_index("Gender")

total_men = sorted_gender_df["SN"][0]
total_women = sorted_gender_df["SN"][1]
total_other = sorted_gender_df["SN"][2]

sorted_gender_df

                        SN  Percentage of Players
Gender
Male                   484              84.027778
Female                  81              14.062500
Other / Non-Disclosed   11               1.909722

In [81]:
# Purchasing Analysis (Gender)
purchase_df = raw_data[["Purchase ID", "Price", "Gender", "SN"]]
purchase_df.drop_duplicates(["SN"])
purchase_df = purchase_df.groupby(["Gender"], as_index=False).agg({"Purchase ID": "count", "Price": "sum", "SN": "count"})
avg_purchase = purchase_df["Price"]/purchase_df["Purchase ID"]
purchase_df["Average Purchase Price"] = avg_purchase
avg_total_pp = purchase_df["Price"]/#total_men
purchase_df["Avg Total Purchase Per Person"] = avg_total_pp
# purchase_total = purchase_df["Purchase ID"]
purchase_df

SyntaxError: invalid syntax (<ipython-input-81-9f8cba424694>, line 7)

In [142]:
# Age Demographics
age_df = raw_data
bins = [0, 10, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_df["Total Count Summary"] = pd.cut(age_df["Age"], bins, labels=group_names, include_lowest=True)
age_df = age_df.drop_duplicates(["SN"])
total_players = age_df["SN"].nunique()
age_df = age_df.groupby("Total Count Summary")
age_df = age_df["Total Count Summary"].count()
# age_df = age_df["Total Count Summary"] / total_players * 100
age_df

# age_df = age_df[["SN", "Age", "Total Count Summary"]]

# age_df["Total Count"] = age_df["Total Count Summary"].value_counts()
# age_df = age_df.groupby("Total Count Summary")
# # age_df = age_df.set_index("Total Count Summary")
# age_df

Total Count Summary
<10       24
10-14     15
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Total Count Summary, dtype: int64

In [84]:
# Top Spenders
spenders_df = raw_data[["SN", "Price"]]
spenders_df

                SN  Price
0          Lisim78   3.53
1      Lisovynya38   1.56
2       Ithergue48   4.88
3    Chamassasya86   3.27
4        Iskosia90   1.44
..             ...    ...
775     Aethedru70   3.54
776         Iral74   1.63
777     Yathecal72   3.46
778        Sisur91   4.19
779      Ennrian78   4.60

[780 rows x 2 columns]